body {
  background-image: url("https://images.theconversation.com/files/411583/original/file-20210716-15-vjo5p3.jpeg?ixlib=rb-1.1.0&rect=46%2C0%2C5200%2C2600&q=45&auto=format&w=1356&h=668&fit=crop");
  background-repeat: no-repeat;
  background-size: cover;
}

.inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.inp {
  margin-top: 10px;
}

#btn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);

}